apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: crawler
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: true
        jsonData:
          timeInterval: "15s"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-provider
  namespace: crawler
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'Crawler Dashboards'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: crawler
data:
  grafana.ini: |
    [analytics]
    check_for_updates = false
    reporting_enabled = false

    [server]
    domain = localhost
    root_url = %(protocol)s://%(domain)s:%(http_port)s/
    serve_from_sub_path = false

    [security]
    admin_user = admin
    admin_password = admin
    # Change this in production!

    [users]
    allow_sign_up = false
    auto_assign_org = true
    auto_assign_org_role = Viewer

    [auth.anonymous]
    enabled = false

    [log]
    mode = console
    level = info
